fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
langchain
langchain-core
langchain-community
langchain-google-genai
langgraph
google-generativeai
langchain-groq
pinecone
numpy
httpx
aiohttp
requests
python-multipart
